
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.btn-info {
  color: white;
}

.nav-link {
  cursor: pointer;
}

#list {
  margin-bottom: 0;
}

.uuid {
  color: gray;
  font-size: .8em;
  margin-top: 40px;
}

.modal-title-light {
  color: gray;
}

.action {
  text-align: right;
}

.disabled {
  pointer-events: none;
}
